.responsive-iframe {
    position: relative;
    padding-bottom: 56.25%; /*16:9*/
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

body {
  margin: 0;
  background: #000 url(https://thumbs.gfycat.com/SlowInfantileCusimanse-size_restricted.gif) no-repeat center center fixed;
  background-size: cover;
}
